@import "./variables.scss";

body {
  font-family: $font-family;
  background-color: $bg-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  @apply text-white;
  background-color: theme('colors.blue.500');
}
